@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-press-start-2p: var(--font-press-start-2p);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-press-start-2p);
  --font-handwritten: var(--font-caveat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
